<div class="form-group" *ngFor="let item of checkpoint.answer_blocks; let i = index" [attr.data-index]="i">
  <input mdbDeepDirective type="checkbox" [id]="checkpoint.type+'_' + checkpointIndex+'_'+i"
         [checked]="checkpoint.answer.value.indexOf(item) >= 0"
         (change)="onSelected(item, $event); validateForm()">
  <label [for]="checkpoint.type+'_' + checkpointIndex+'_'+i">{{item.text}}</label>
</div>
