<div class="row">
    <div class="md-form">
      <div class="file-field" [hidden]="isPictureLoaded">
        <div class="btn btn-primary btn-sm float-left">
          <span><i class="fa fa-camera" aria-hidden="true"></i></span>
          <input type="file" accept="image/*" capture="camera" (change)="handleFile($event)" [required]="checkpoint.mandatory" [name]="checkpoint.type+'_' + checkpointIndex">
        </div>
      </div>
    </div>
  <ng-container *ngIf="isPictureLoaded">
    <i class="fa fa-paint-brush" aria-hidden="true"></i>
    <div class="switch">
      <label>
        <input type="checkbox" [ngModel]="this.editMode" (click)="toggleEditMode()">
        <span class="lever"></span>
      </label>
    </div>
    
    <button type="button" class="btn btn-primary btn-sm float-left" (click)="removeDrawings()">
      <i class="fa fa-eraser" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-danger btn-sm float-left" (click)="clearCanvas()">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </ng-container>
</div>

<div #div (window:resize)="onResize($event)" style="width: 100%">
  <canvas [id]="'myCanvas_'+checkpointIndex">
  </canvas>
</div>


