<div class="row">
  <div class="col">
    <mdb-select [options]="options" placeholder="Wählen Sie eine Option" [(ngModel)]="this.checkpoint.answer.value"
                [required]="checkpoint.mandatory" [name]="checkpoint.type+'_' + checkpointIndex"></mdb-select>
    <label>Auswahl</label>
  </div>
</div>
