
<div class="md-form">
  <textarea mdbActive form="checklistForm" type="text" [id]="checkpoint.type+'_' + checkpointIndex" class="md-textarea" [(ngModel)]="checkpoint.answer.value" [name]="checkpoint.type+'_' + checkpointIndex" (ngModelChange)="validateForm()"></textarea>
  <label [for]="checkpoint.type+'_' + checkpointIndex">Textfeld</label>
</div>
