<div class="form-inline">
  <div class="form-group" *ngFor="let answer of checkpoint.answer_blocks; let i = index" [attr.data-index]="i">
    <input [name]="checkpoint.type+'_' + checkpointIndex" type="radio"
           [id]="checkpoint.type+'_' + checkpointIndex+'_'+i"
           [value]="answer.text" [required]="checkpoint.mandatory"
           [(ngModel)]="checkpoint.answer.value">
    <label [for]="checkpoint.type+'_' + checkpointIndex+'_'+i">{{ answer.text}}</label>
  </div>
</div>

