<div class="md-form">
  <input mdbActive type="text" [id]="checkpoint.type+'_' + checkpointIndex" class="form-control"
         [(ngModel)]="checkpoint.answer.value" [required]="checkpoint.mandatory"
         [name]="checkpoint.type+'_' + checkpointIndex">
  <label [for]="checkpoint.type+'_' + checkpointIndex">Antwort</label>
</div>
