<div class="container">
  <div class="row">
    <div class="col">
      <form #form="ngForm" (ngSubmit)="saveFilledChecklist()" id="checklistForm">
        <div *ngIf="dataService.filledChecklist">
          <div class="card">
            <div class="card-body">
              <div>
                <mdb-progressbar [value]="dataService.getValidCheckpoints()/dataService.checkpointCounter*100" min="0" max="100" aria-valuenow="25"
                                 aria-valuemin="0"
                                 aria-valuemax="100" type="success"></mdb-progressbar>
              </div>
              <div class="d-flex justify-content-center">
                <h4 class="card-title">{{ dataService.filledChecklist.name }}</h4>
              </div>
              <div>
                <app-page [page]="dataService.page"></app-page>
              </div>
              <div class="row d-flex justify-content-center align-items-center">
                <div [ngStyle]="{'visibility': dataService.pageIndex+1!==1 ? 'visible' : 'hidden'}">
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" mdbRippleRadius
                            (click)="decreasePageIndex()"><i class="fa fa-angle-left fa-4x"></i></button>
                  </div>
                </div>
                <div class="align-middle mx-3">Seite {{dataService.pageIndex+1 }}</div>
                <div [ngStyle]="{'visibility': dataService.pageIndex+1<dataService.checkpointCounter ? 'visible' : 'hidden'}">
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" mdbRippleRadius
                            (click)="increasePageIndex()"><i class="fa fa-angle-right fa-4x"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary waves-light" type="submit"><i class="fa fa-save" aria-hidden="true"></i>
            Speichern
          </button>
          <button class="btn btn-primary waves-light" type="submit" (click)="syncAndRunWebhooks()" [disabled]="isChecklistValid"><i
            class="fa fa-refresh"
            aria-hidden="true"></i>
            Sync
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


