<div *ngIf="page">
  <div class="d-flex justify-content-center">
    <h5> {{ page.title}}</h5>
  </div>
  <div *ngFor="let checkpoint of page.checkpoints, let checkpointIndex = index" [attr.data-index]="checkpointIndex">
    <!--TODO Check if a checkpoint is valid: workaround text && type-->
    <ng-container *ngIf="checkpoint.text && checkpoint.type">
      <strong>
        <div class="row">
          <div innerHTML="{{ checkpoint.text }}"></div>
          <div *ngIf="checkpoint.mandatory">&nbsp;*</div>
        </div>
      </strong>
      
      <div [ngSwitch]="checkpoint.type">
        <div *ngSwitchCase="'check'">
          <app-checkpoint [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex"></app-checkpoint>
        </div>
        <div *ngSwitchCase="'stext'">
          <app-text [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex"></app-text>
        </div>
        <div *ngSwitchCase="'ltext'">
          <app-ltext [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex" [(ngModel)]="checkpoint.answer.value" [name]="checkpoint.type+'_'+checkpointIndex" [required]="checkpoint.mandatory"></app-ltext>
        </div>
        <div *ngSwitchCase="'number'">
          <app-number [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex"></app-number>
        </div>
        <div *ngSwitchCase="'multi'">
          <app-multiplechoice [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex" [(ngModel)]="checkpoint.answer.value" [name]="checkpoint.type+'_'+checkpointIndex" [required]="checkpoint.mandatory"></app-multiplechoice>
        </div>
        <div *ngSwitchCase="'date'">
          <app-date [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex"></app-date>
        </div>
        <div *ngSwitchCase="'drop'">
          <app-dropdown [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex"></app-dropdown>
        </div>
        <div *ngSwitchCase="'time'">
          <app-time [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex" [name]="checkpoint.type+'_'+checkpointIndex" [(ngModel)]="checkpoint.answer.value" [required]="checkpoint.mandatory"></app-time>
        </div>
        <div *ngSwitchCase="'picture'">
          <app-camera-picture [checkpoint]="checkpoint" [checkpointIndex]="checkpointIndex" [name]="checkpoint.type+'_'+checkpointIndex" [(ngModel)]="checkpoint.answer.value" [required]="checkpoint.mandatory"></app-camera-picture>
        </div>
      </div>
      <div *ngIf="checkpoint.enable_comment">
        <app-comment [source]="checkpoint" [checkpointIndex]="checkpointIndex"></app-comment>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <app-picture [source]="checkpoint"></app-picture>
        
        <hr>
      </div>
    </ng-container>
  </div>

</div>
